.footer {
    background-color: $primary-color;
    
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    text-align: center;
    flex-direction: column;

    .footer-container {
        padding:2rem 0;
        color:#fff;
        img {
            margin-top:2rem;
        }
    
      
        .contact-us {

            h3 {
                font-weight: bolder;
            }
            p {
                font-weight: 300                ;
            }

        }
        .explore {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            gap:1rem;
            text-align: center;
            flex-direction: column;
            a {
                text-decoration: none;
                color:#fff;
                font-weight: 300;
            }
        }
    }

    .copyright {
        background-color: #333;
        color:#fff;
        width:100%;
    }
}